<!-- Vinculo con mi template base, para eso uso extend-->
{% extends "base.html" %}
{#   se usa método post porque la contraseña no debe verse #}
{% block contenido_cambia %}
    <div class="container px-5">
        <section id="features">
            <div class="container">
                <h1>{{ titulo }}</h1>
                <form  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{{ enviar }}">
                </form>
            </div>
        </section>
    </div>
{%  endblock %}