<!-- Vinculo con mi template base, para eso uso extend-->
{% extends "base.html" %}

{% block contenido_cambia %}
       <section id="features">
            <div class="container px-5">
                <h3 class="font-alt">Acerca de la página</h3>
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                        <div class="container-fluid px-5">
                            <div class="row gx-5">
                                <div class="col-md-6 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Disponible en tu smartphone</h3>
                                        <p class="text-muted mb-0">Podés visualizar tu blog en cualquier dispositivo móvil!</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-camera icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Personalizado</h3>
                                        <p class="text-muted mb-0">Comparte tus ideas de con el mejor diseño!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-5 mb-md-0">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-gift icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Compartilo</h3>
                                        <p class="text-muted mb-0">Comparte el link de tu blog con quien desees!</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-patch-check icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Ilimitado</h3>
                                        <p class="text-muted mb-0">No te preocupes por el espacio de almacenamiento!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-0" >
                        <!-- Features section device mockup-->
                        <div class="px-5 px-sm-0"> <img class="img-fluid rounded-circle" src="https://img.freepik.com/vector-gratis/ilustracion-publicacion-blog-plana-organica-personas_23-2148955260.jpg?w=900&t=st=1681785432~exp=1681786032~hmac=1b6acea8a038116bd02ffca7a89e0c49f364badc5d17089b6feea8d6989b9170" alt="..." /></div>

                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light">
            <div class="container px-5">
                <h3 class="font-alt">Acerca del autor</h3>
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Lytton Cabrera</h2>
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">Profesional con amplia experiencia en gestión de proyectos, procesos e implementación de soluciones de Tecnología e Ingeniería. Fuerte orientación a resultados y competente en el manejo de relaciones comerciales, comunicacionales y de trabajo en equipo. Conocimiento multisectorial (servicios administrativo-financieros, analítica de datos, compras y cadena de suministro).</p>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <div class="px-5 px-sm-0"> <img class="img-fluid rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQEo1Ln4mBFGig/profile-displayphoto-shrink_800_800/0/1623719913500?e=1687392000&v=beta&t=_HNHF1eD2R8dK5mFvOODtXVz-61q0FvH_lwPihINks0" alt="..." /></div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}