<!-- Vinculo con mi template base, para eso uso extend-->
{% extends "base.html" %}

{% block contenido_cambia %}
    <br>
{#   Creación de curso #}
    <div class="container px-5">
        <p>Para editar su blog, complete los siguientes campos.</p>
        <form action="{% url 'AppCoderEditarBlog' titulo %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value ="Guardar">
        </form>
    </div>
{%  endblock %}