<!-- Vinculo con mi template base, para eso uso extend-->
{% extends "base.html" %}
{% block contenido_cambia %}
    <div class="container px-5"  >
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <br>
            {#   Creación de curso #}
                <p >Para crear un nuevo curso, complete los siguientes campos.</p>
                <form  action="{% url 'AppCoderGuardarBlog' %}" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{ form.as_p}}
                    <input type="submit" value ="Crear" class="btn btn-primary">
                </form>
            {#   Buscar curso #}
                <br>
            </div>
            <div class="col-sm-8 col-md-6">
                    <h5>Para ver todos tus blogs, clic en el siguiente botón</h5>
                    <a class="btn btn-primary" href="{% url 'AppCoderBuscarMisBlogs' %}">Ir a mis blogs</a>
                <br>
                <br>
            </div>

        </div>
    </div>

{%  endblock %}